/* Backgrounds by weather */
.background-sunny {
  background: linear-gradient(to top, #fddb92, #d1fdff); /* yellow sky */
}
.background-cloudy {
  background: linear-gradient(to top, #bdc3c7, #2c3e50); /* cloudy gray */
}
.background-rainy {
  background: linear-gradient(to top, #4e54c8, #8f94fb); /* rainy blue */
}
.background-snowy {
  background: linear-gradient(to top, #e0eafc, #cfdef3); /* snowy white-blue */
}
