<div class="card border border-0 mt-4 {{ weatherStyle }}">
  <div class="card-body">
    <h3 class="card-title">{{ city.name }}, {{ city.countryIso }}</h3>
    <h6 class="card-subtitle mb-2">{{ fechaActual }}</h6>
    <div class="text-center">
      <p class="fs-1 fw-bolder">
        <span class="{{ weatherIconColor }} me-3"><i class="bi {{ weatherIcon }}"></i></span>
        <span>{{ city.temperature }}ºC</span>
      </p>
      <div class="d-flex justify-content-between mt-2 mx-5">
        <p>{{ city.weather }}</p>
        <p>Humidity: {{ city.humidity }}%</p>
        <p>Wind: {{ city.wind }} km/h</p>
      </div>
    </div>
  </div>
</div>
